.btn,
button {
  font-family: var(--font-secondary);
}
.hidden {
  display: none;
}
.hide-mobile {
  display: block;
}
@media only screen and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
  }
}
.hide-mobile-tablet-ls {
  display: block;
}
@media only screen and (max-width: 992px) {
  .hide-mobile-tablet-ls {
    display: none !important;
  }
}
.hide-desktop {
  display: none;
}
@media only screen and (max-width: 480px) {
  .hide-desktop {
    display: block;
  }
}
.hide-desktop-tablet-ls {
  display: none;
}
@media only screen and (max-width: 992px) {
  .hide-desktop-tablet-ls {
    display: block;
  }
}
.line-separator {
  border: 2px solid var(--page-color);
  opacity: 1;
}
.no-padding {
  padding: 0;
}
@media only screen and (max-width: 480px) {
  .mobile-block {
    display: block;
  }
}
.content-area {
  min-height: 40vh;
}
.mt-lg-30 {
  margin-top: 30px;
}
@media only screen and (max-width: 992px) {
  .mt-lg-30 {
    margin-top: 0;
  }
  .mt-md-30 {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .mt-md-30 {
    margin-top: 0;
  }
}
.img-white {
  filter: brightness(0) invert(1);
}
.price {
  font-weight: 500;
  margin: 0;
}
.page-pagination {
  min-height: 45px;
}
.page-pagination .pagination {
  justify-content: center;
  margin: 45px;
}
@media only screen and (max-width: 480px) {
  .page-pagination .pagination {
    margin: 15px;
  }
}
.page-pagination .pagination .page-item,
.page-pagination .pagination li,
.page-pagination .pagination.new a {
  margin-left: 4px;
  margin-right: 4px;
}
.page-pagination .pagination .page-item:first-child .page-link,
.page-pagination .pagination .page-item:last-child .page-link,
.page-pagination .pagination li:first-child .page-link,
.page-pagination .pagination li:last-child .page-link,
.page-pagination .pagination.new a {
  border-radius: 50%;
  color: #f58220;
  width: 100%;
}
.page-pagination .pagination .page-item.disabled,
.page-pagination .pagination li.disabled {
  align-items: center;
  display: flex;
}
.page-pagination .pagination .page-item svg,
.page-pagination .pagination li svg,
.page-pagination .pagination.new a svg {
  height: 1.25vw;
  width: 1.25vw;
}
@media only screen and (max-width: 992px) {
  .page-pagination .pagination .page-item svg,
  .page-pagination .pagination li svg,
  .page-pagination .pagination.new a svg {
    font-size: 17px;
    height: 16px;
    width: 16px;
  }
}
.page-pagination .pagination .page-item .page-link,
.page-pagination .pagination .page-item a,
.page-pagination .pagination li .page-link,
.page-pagination .pagination li a ,
.page-pagination .pagination.new a {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: #101820;
  font-family: var(--font-secondary);
  font-size: 1.25vw;
  height: 1.85vw;
  padding-bottom: 0;
  padding-top: 0;
  width: 1.85vw;
}
.page-pagination .pagination .page-item .page-link:focus,
.page-pagination .pagination .page-item a:focus,
.page-pagination .pagination li .page-link:focus,
.page-pagination .pagination li a:focus,
.page-pagination .pagination.new a:focus {
  border-style: none;
  box-shadow: none;
}
@media only screen and (max-width: 992px) {
  .page-pagination .pagination .page-item .page-link,
  .page-pagination .pagination .page-item a,
  .page-pagination .pagination li .page-link,
  .page-pagination .pagination li a,
  .page-pagination .pagination.new a {
    font-size: 17px;
    height: 30px;
    width: 30px;
  }
}
.page-pagination .pagination .page-item span.page-link,
.page-pagination .pagination li span.page-link,
.page-pagination .pagination.new a {
  padding-left: 5px;
  padding-right: 5px;
}
.page-pagination .pagination .page-item.active > .page-link,
.page-pagination .pagination .page-item.active > a,
.page-pagination .pagination li.active > .page-link,
.page-pagination .pagination li.active > a,
.page-pagination .pagination.new a.active {
  background-color: #54565a;
  color: #fffaf4;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  footer {
    margin-top: 100px;
  }
}
footer .footer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
@media only screen and (max-width: 992px) {
  footer .footer {
    flex-direction: column;
  }
  footer .footer.container {
    margin-top: -15px;
    max-width: 100% !important;
    padding: 0;
  }
}
footer .footer-wrapper {
  background: linear-gradient(
    90deg,
    #343434 0,
    #343434 50%,
    #f58220 0,
    #f58220
  );
}
footer .footer-left {
  background-color: #343434;
  order: 1;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  footer .footer-left {
    order: 2;
    width: 100%;
    z-index: 3;
  }
}
footer .footer-right {
  background-color: #f58220;
  order: 2;
  width: auto;
}
@media only screen and (max-width: 992px) {
  footer .footer-right {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 80%;
    margin-top: -2em;
    order: 1;
    width: 100%;
    z-index: 1;
  }
}
footer .footer-container {
  margin-bottom: 90px;
  margin-top: 60px;
}
@media only screen and (max-width: 992px) {
  footer .footer-container {
    margin: 55px auto 40px;
    position: relative;
    width: 85%;
  }
}
@media only screen and (max-width: 480px) {
  footer .footer-container {
    margin-bottom: 20px;
    margin-top: 35px;
  }
}
@media only screen and (max-width: 380px) {
  footer .footer-container {
    margin-bottom: 15px;
    margin-top: 25px;
  }
}
footer .footer-container .footer-items-wrapper {
  padding: 0 30px 0 0;
}
@media only screen and (max-width: 992px) {
  footer .footer-container .footer-items-wrapper {
    padding: 0;
  }
}
footer .footer-left-flex {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 992px) {
  footer .footer-left-flex {
    flex-direction: column;
  }
}
footer .footer-left-flex .flex-1 {
  order: 1;
  width: 20%;
}
@media only screen and (max-width: 992px) {
  footer .footer-left-flex .flex-1 {
    width: 100%;
  }
}
footer .footer-left-flex .flex-1 .footer-logo {
  display: block;
  margin-left: auto;
  margin-right: 16px;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  footer .footer-left-flex .flex-1 .footer-logo {
    margin: 20px auto;
    width: 15%;
  }
}
@media only screen and (max-width: 480px) {
  footer .footer-left-flex .flex-1 .footer-logo {
    width: 35%;
  }
}
footer .footer-left-flex .flex-2 {
  order: 2;
  width: 50%;
}
@media only screen and (max-width: 992px) {
  footer .footer-left-flex .flex-2 {
    order: 3;
    width: 100%;
  }
}
footer .footer-left-flex .flex-2 p {
  color: #fff;
  font-family: var(--font-secondary);
  font-size: 0.83vw;
  margin-bottom: 10px;
  padding: 4px 0;
}
@media only screen and (max-width: 992px) {
  footer .footer-left-flex .flex-2 p {
    font-size: 1.75vw;
  }
}
@media only screen and (max-width: 480px) {
  footer .footer-left-flex .flex-2 p {
    font-size: 14px;
  }
}
footer .footer-left-flex .flex-2 p:last-child {
  margin-bottom: 0;
}
footer .footer-left-flex .flex-2 p a {
  font-family: inherit;
  font-size: inherit;
}
footer .footer-left-flex .flex-2 .logo-contacts {
  margin-right: 0.7em;
  width: 1.5em;
}
@media only screen and (max-width: 480px) {
  footer .footer-left-flex .flex-2 .logo-contacts {
    margin-right: 0.7em;
    width: 1.5em;
  }
}
footer .footer-left-flex .flex-3 {
  order: 3;
  width: auto;
}
@media only screen and (max-width: 992px) {
  footer .footer-left-flex .flex-3 {
    order: 2;
    width: 100%;
  }
}
footer .footer-left-flex .flex-3 .social-follow {
  align-items: center;
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .footer-left-flex .flex-3 .social-follow li {
  text-align: left;
}
@media only screen and (max-width: 992px) {
  footer .footer-left-flex .flex-3 .social-follow li {
    text-align: center;
  }
  footer .footer-left-flex .flex-3 .social-follow {
    justify-content: center;
    margin: 5px auto auto;
    width: 80%;
  }
}
footer .footer-left-flex .flex-3 .logo-social {
  padding: 7px 2px 7px 0;
  vertical-align: bottom;
  width: 55%;
}
@media only screen and (max-width: 992px) {
  footer .footer-left-flex .flex-3 .logo-social {
    padding: 10px 7px;
    width: 65%;
  }
}
@media only screen and (max-width: 480px) {
  footer .footer-left-flex .flex-3 .logo-social {
    padding: 7px 10px;
    width: 90%;
  }
}
footer .footer-right-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media only screen and (max-width: 992px) {
  footer .footer-right-flex {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .footer-right-flex .flex-right-1 {
  order: 1;
  width: 45%;
}
footer .footer-right-flex .flex-right-1 .img-phone {
  padding-left: 25px;
}
@media only screen and (max-width: 992px) {
  footer .footer-right-flex .flex-right-1 .img-phone {
    padding-left: 20px;
    position: absolute;
    right: -20px;
    top: -12vh;
    width: 50%;
    z-index: 2;
  }
}
@media only screen and (max-width: 480px) {
  footer .footer-right-flex .flex-right-1 .img-phone {
    top: -8vh;
    width: 70%;
  }
}
@media only screen and (max-width: 380px) {
  footer .footer-right-flex .flex-right-1 .img-phone {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 768px) {
  footer .footer-right-flex .flex-right-1 {
    margin-bottom: 3vw;
    width: 50%;
  }
}
@media only screen and (max-width: 992px) {
  footer .footer-right-flex .flex-right-1 {
    order: 2;
  }
}
footer .footer-right-flex .flex-right-2 {
  order: 2;
  padding-left: 16px;
  padding-top: 5px;
}
@media only screen and (max-width: 768px) {
  footer .footer-right-flex .flex-right-2 {
    padding-left: 40px;
  }
}
@media only screen and (max-width: 992px) {
  footer .footer-right-flex .flex-right-2 {
    order: 1;
    padding-left: 0;
  }
}
footer .footer-right-flex .flex-right-2 h4 {
  color: #101820;
  font-family: var(--font-primary);
  font-size: 1.25vw;
  font-weight: 700;
}
@media only screen and (max-width: 992px) {
  footer .footer-right-flex .flex-right-2 h4 {
    font-size: 3.15vw;
  }
}
@media only screen and (max-width: 480px) {
  footer .footer-right-flex .flex-right-2 h4 {
    font-size: 22px;
    font-weight: 800;
  }
}
footer .footer-right-flex .flex-right-2 h5 {
  color: #fff;
  font-family: var(--font-primary);
  font-size: 1vw;
  font-weight: 600;
  margin-bottom: 30px;
  padding-top: 5px;
}
@media only screen and (max-width: 992px) {
  footer .footer-right-flex .flex-right-2 h5 {
    font-size: 2vw;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  footer .footer-right-flex .flex-right-2 h5 {
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }
}
footer .footer-right-flex .flex-right-2 .link-app {
  display: block;
  padding: 8px 0;
  width: 140px;
}
@media only screen and (max-width: 992px) {
  footer .footer-right-flex .flex-right-2 .link-app {
    display: inline;
    width: 130px;
  }
  footer .footer-right-flex .flex-right-2 .link-app:first-child {
    margin-right: 18px;
  }
}
@media only screen and (max-width: 480px) {
  footer .footer-right-flex .flex-right-2 .link-app {
    display: block;
    margin: 0;
    padding: 4px 0;
    width: 125px;
  }
}
footer .footer-content {
  margin-bottom: 25px;
  padding-left: 10px;
}
@media only screen and (max-width: 992px) {
  footer .footer-content {
    padding: 0 30px;
  }
}
footer .footer-content .footer-title {
  color: #f58220;
  padding-bottom: 10px;
}
footer .footer-content .footer-title h4 {
  font-family: var(--font-primary);
  font-size: 1.05vw;
  font-weight: 600;
}
@media only screen and (max-width: 992px) {
  footer .footer-content .footer-title h4 {
    font-size: 2.45vw;
  }
}
@media only screen and (max-width: 480px) {
  footer .footer-content .footer-title h4 {
    font-size: 20px;
  }
}
footer .footer-content .footer-title h4 a {
  font-size: inherit;
  font-weight: inherit;
}
@media only screen and (max-width: 992px) {
  footer .footer-content .footer-title {
    padding-top: 20px;
    text-align: center;
  }
}
footer .footer-content .widget__content {
  color: #fff;
}
@media only screen and (max-width: 992px) {
  footer .footer-content .widget__content {
    text-align: center;
  }
}
.btn-circle {
  border-radius: 50%;
  bottom: calc(4vw + 30px);
  cursor: pointer;
  line-height: 50px;
  position: fixed;
  right: 25px;
  text-align: center;
  width: 3vw;
  z-index: 98;
}
@media only screen and (max-width: 1200px) {
  .btn-circle {
    bottom: calc(5.2vw + 30px);
    width: 3.5vw;
  }
}
@media only screen and (max-width: 992px) {
  .btn-circle {
    bottom: calc(4vw + 96px);
    width: 6vw;
  }
}
@media only screen and (max-width: 480px) {
  .btn-circle {
    bottom: 105px;
    width: 40px;
  }
}
@media only screen and (max-width: 992px) {
  .h1.section-group__title,
  h1.section-group__title {
    padding: 0 0 2vh;
  }
}
@media only screen and (max-width: 480px) {
  .h1.section-group__title,
  h1.section-group__title {
    font-size: 34px;
    font-weight: 300;
    line-height: 35px;
  }
}
.section {
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden;
  position: relative;
}
.section-content {
  padding: 75px 0 100px;
}
@media only screen and (max-width: 992px) {
  .section-content {
    padding: 50px 0 70px;
  }
}
@media only screen and (max-width: 480px) {
  .section-content {
    padding: 35px 0;
    position: relative;
  }
}
.section-group__header {
  margin-bottom: 70px;
  padding: 0;
  position: relative;
}
@media only screen and (max-width: 480px) {
  .section-group__header {
    margin-bottom: 50px;
    position: unset;
  }
}
.section-group__header_with_btn {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 480px) {
  .section-group__header_with_btn .btn {
    bottom: 50px;
    position: absolute;
  }
}
.section-group__title {
  color: var(--section-title);
  font-weight: 300;
  line-height: 3vw;
  padding: 0 0 0.5em;
}
@media only screen and (max-width: 992px) {
  .section-group__title {
    font-size: 3.8vw;
    line-height: 4vw;
  }
}
@media only screen and (max-width: 480px) {
  .section-group__title {
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 0 20px;
  }
}
.section-group__title:after {
  background-color: #f58220;
  content: "";
  height: 3px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  width: 320px;
}
@media only screen and (max-width: 480px) {
  .section-group__title:after {
    height: 2px;
    width: 80px;
  }
}
.section-group__title.title_no_underline:after {
  display: none;
}
.section-group__subtitle {
  color: var(--section-title);
  font-weight: 500;
  line-height: 3vw;
  padding: 15px 0 2vw;
}
@media only screen and (max-width: 480px) {
  .section-group__subtitle {
    line-height: 25px;
    padding: 10px 0 30px;
  }
}
.section.bottom-content-section .content {
  color: #54565a;
  font-size: 0.85vw;
  letter-spacing: 0.48px;
  line-height: 1.3vw;
  margin: 0 auto;
  max-width: 1140px;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .section.bottom-content-section .content {
    font-size: 1.1vw;
    line-height: 1.35vw;
  }
}
@media only screen and (max-width: 992px) {
  .section.bottom-content-section .content {
    font-size: 1.6vw;
    line-height: 2.4vw;
  }
}
@media only screen and (max-width: 480px) {
  .section.bottom-content-section .content {
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 18px;
  }
}
.section.bottom-content-section .content .ck-content {
  display: inline-block;
}
.section.bottom-content-section .content .expand-btn,
.section.bottom-content-section .content .shrink-btn {
  color: #f58220;
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
}
.section.bottom-content-section .content p {
  font-size: 0.85vw;
  letter-spacing: 0.48px;
  line-height: 1.3vw;
  margin-bottom: 0;
}
@media only screen and (max-width: 1200px) {
  .section.bottom-content-section .content p {
    font-size: 1.1vw;
    line-height: 1.35vw;
  }
}
@media only screen and (max-width: 992px) {
  .section.bottom-content-section .content p {
    font-size: 1.6vw;
    line-height: 2.4vw;
  }
}
@media only screen and (max-width: 480px) {
  .section.bottom-content-section .content p {
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 18px;
  }
}
.section.bottom-content-section .section-content {
  padding: 58px 0 45px;
}
@media only screen and (max-width: 480px) {
  .section.bottom-content-section .section-content {
    padding: 45px 0 25px;
  }
}
.section.bottom-content-section .section-group__content {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin: 0 auto;
  max-width: 1174px;
  padding: 35.5px 0;
}
@media only screen and (max-width: 480px) {
  .section.bottom-content-section .section-group__content {
    padding: 26.5px 0 20.5px;
  }
}
.truncateable-content {
  overflow: hidden;
  position: relative;
}
.truncateable-content .text-content {
  display: none;
  overflow: hidden;
  position: relative;
}
.truncateable-content .text-content p {
  font-weight: 300;
}
.truncateable-content .text-content p:last-child {
  margin-bottom: 0;
}
.truncateable-content .trunc-content {
  display: block;
}
.truncateable-content .trunc-content p {
  display: inline;
  font-weight: 300;
}
.truncateable-content .show-toggle {
  display: none;
}
.truncateable-content .show-toggle:checked ~ .text-content {
  display: block;
}
.truncateable-content .show-toggle:checked ~ .trunc-content {
  display: none;
}
.truncateable-content .show-toggle:checked ~ div > .show-more:before {
  content: "Tampilkan sebagian";
}
.truncateable-content .show-more:before {
  background: none;
  border: none;
  color: #f58220;
  content: "Selengkapnya";
  cursor: pointer;
  font-size: inherit;
  font-weight: 400;
  text-decoration: underline;
}
.notes {
  align-items: center;
  background-color: #fffaf4;
  display: flex;
  padding: 1.4vw 2.15vw;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .notes {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .notes {
    padding: 9px 13px;
  }
}
.notes.full-width {
  width: 100%;
}
.notes .notes-icon {
  color: #f58220;
  font-size: 1.57vw;
  line-height: 1.6vw;
  padding-right: 1.2vw;
}
.notes .notes-icon.top-icon {
  align-self: self-start;
}
@media only screen and (max-width: 992px) {
  .notes .notes-icon {
    font-size: 18px;
    line-height: 25px;
    padding-right: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .notes .notes-icon {
    font-size: 18px;
    line-height: 25px;
    padding-right: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .notes .notes-icon {
    font-size: 17px;
    line-height: 1;
    padding-right: 9px;
  }
}
.notes .notes-text {
  color: #54565a;
  line-height: 1.6vw;
}
.notes .notes-text p {
  font-size: 1vw;
  margin-bottom: 0;
}
@media only screen and (max-width: 992px) {
  .notes .notes-text p {
    font-size: 14px;
    line-height: 18px;
  }
  .notes .notes-text {
    font-size: 14px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .notes .notes-text {
    line-height: 25px;
  }
}
@media only screen and (max-width: 480px) {
  .notes .notes-text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .notes {
    width: 100%;
  }
}
.list-wrapper .card-item {
  margin-bottom: 20px;
}
.card {
  border: none;
  border-radius: 5px;
}
.card.card-with-bg {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover !important;
  color: #fffaf4;
}
.card .card-title {
  color: #54565a;
  font-family: var(--font-secondary);
  font-size: 1.3vw;
  font-weight: 400;
}
.card .card-title span {
  color: #f58220;
  display: block;
  font-size: 0.75em;
}
@media only screen and (max-width: 992px) {
  .card .card-title {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 2.2vw;
    overflow-y: hidden;
  }
}
@media only screen and (max-width: 480px) {
  .card .card-title {
    font-size: 16px;
    font-weight: 400;
  }
}
.card-body {
  padding: var(--erha-card-spacer-y) var(--erha-card-spacer-x);
}
.card-post .card-body {
  min-height: 165px;
  padding: 18px 24px;
}
@media only screen and (max-width: 992px) {
  .card-post .card-body {
    padding: 16px 20px;
  }
}
@media only screen and (max-width: 480px) {
  .card-post .card-body {
    min-height: 136px;
    padding: 12px 20px;
  }
}
.card-post .card-subtitle {
  color: #f58220;
  font-size: 16px;
  font-weight: 400;
  line-height: 39px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 480px) {
  .card-post .card-subtitle {
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 5px;
  }
}
.card-post .card-text {
  font-size: 1.1vw;
  font-weight: 500;
  line-height: 1.5vw;
}
@media only screen and (max-width: 992px) {
  .card-post .card-text {
    font-size: 2vw;
    line-height: 3vw;
    min-height: 91px;
  }
}
@media only screen and (max-width: 480px) {
  .card-post .card-text {
    font-size: 16px;
    line-height: 22px;
  }
}
.card-page-link {
  margin: 20px;
  max-width: 567px;
  min-width: 352px;
  padding-bottom: 82px;
  padding-top: 83px;
  text-align: center;
  width: 45%;
}
@media only screen and (max-width: 1200px) {
  .card-page-link {
    max-width: 475px;
  }
}
@media only screen and (max-width: 768px) {
  .card-page-link {
    margin-bottom: 50px;
    min-width: unset;
  }
}
@media only screen and (max-width: 480px) {
  .card-page-link {
    margin-bottom: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 90%;
  }
  .card-page-link:last-child {
    margin-bottom: 0;
    margin-top: 0;
  }
}
.btn {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 50px;
  color: #fff;
  font-size: 1.05vw;
  line-height: normal;
  min-width: 260px;
  padding: 0.8vw 2vw;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
@media only screen and (max-width: 1200px) {
  .btn {
    font-size: 1.45vw;
  }
}
@media only screen and (max-width: 992px) {
  .btn {
    font-size: 2.2vw;
    line-height: 4vw;
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
@media only screen and (max-width: 480px) {
  .btn {
    font-size: 16px;
    line-height: 21px;
    min-width: 168px;
    padding: 15px;
    width: 100%;
  }
}
.btn.btn-border-white {
  border-color: #fff;
}
.btn.btn-primary {
  background-color: #f58220;
  border-color: #f58220;
}
.btn.btn-primary:hover {
  background-color: #000;
  border-color: #000;
}
.btn.btn-secondary {
  background-color: #f5821f;
  border-color: #f5821f;
  color: #000;
}
.btn.btn-secondary:hover {
  background-color: #000;
  border-color: #000;
  color: #f5821f !important;
}
.btn.btn-transform-none {
  text-transform: none;
}
.btn.btn-outline {
  background-color: transparent;
}
.btn.btn-compact {
  width: -moz-fit-content;
  width: fit-content;
}
.btn.btn-hover-white:hover {
  background-color: #fff;
  color: #f58220 !important;
}
.btn.btn-upload {
  background-color: #fff;
  color: #54565a;
  font-weight: 300;
  margin-right: 20px;
  min-width: unset;
  padding: 8px 38px;
  text-transform: capitalize;
}
@media only screen and (max-width: 992px) {
  .btn.btn-upload {
    padding: 4px 30px;
  }
}
@media only screen and (max-width: 480px) {
  .btn.btn-upload {
    padding: 8px 38px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .btn.btn-upload + span {
    display: block;
    font-size: 14px;
    margin-top: 10px;
  }
}
.btn-centered-wrapper {
  text-align: center;
}
.btn-icon {
  margin-left: 15px;
  width: 16px;
}
@media only screen and (max-width: 480px) {
  .btn-icon {
    margin-left: 11.5px;
    width: 11px;
  }
}
.btn:hover {
  background-color: #f58220;
  color: #fff !important;
}
.btn.btn-with-icon:hover img {
  filter: brightness(0) invert(1);
}
.btn-back {
  background: none;
  border: transparent;
  display: block;
  font-size: 23px;
  margin: 0;
  min-width: auto;
  padding: 0;
  position: inherit;
  width: auto;
}
@media only screen and (max-width: 480px) {
  .btn-back {
    display: flex;
    top: 0;
  }
}
.btn-back-wrapper {
  float: left;
  margin-bottom: 60px;
  margin-left: -10px;
  padding: 0;
  width: 3vw;
}
@media only screen and (max-width: 992px) {
  .btn-back-wrapper {
    margin-bottom: 45px;
    width: 50px;
  }
}
.btn-back-wrapper.btn-overlay {
  left: 1.875rem;
  position: absolute;
  top: 100px;
}
.btn-back-wrapper .btn-back-icon {
  height: auto;
  width: 100%;
}
.btn-back .btn-primary {
  color: #f28020;
}
.btn-back .btn-white {
  color: #fff;
}
.btn-back .btn-back:hover {
  background-color: transparent;
  color: #f28020 !important;
}
.btn[disabled] {
  background-color: #b4b4b4;
  border-color: #b4b4b4;
  color: #fff;
}
.breadcrumb {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none !important;
  margin-bottom: 0;
  padding-bottom: 30px;
  padding-top: 50px;
}
@media only screen and (max-width: 992px) {
  .breadcrumb {
    padding-bottom: 12px;
    padding-top: 25px;
  }
}
.breadcrumb .breadcrumb-item {
  align-items: center;
  color: #f58220;
  display: flex;
  font-size: 0.85vw;
  font-weight: 400;
  padding: 5px 0;
}
@media only screen and (max-width: 1538px) {
  .breadcrumb .breadcrumb-item {
    font-size: 1.05vw;
  }
}
@media only screen and (max-width: 1200px) {
  .breadcrumb .breadcrumb-item {
    font-size: 1.8vw;
  }
}
@media only screen and (max-width: 992px) {
  .breadcrumb .breadcrumb-item {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 480px) {
  .breadcrumb .breadcrumb-item {
    font-size: 14px;
    line-height: 16px;
  }
  .breadcrumb .breadcrumb-item.breadcrumb-mobile {
    display: block !important;
  }
  .breadcrumb .breadcrumb-item.breadcrumb-desktop {
    display: none !important;
  }
}
.breadcrumb .breadcrumb-item a,
.breadcrumb .breadcrumb-item span {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.breadcrumb .breadcrumb-item:last-child,
.breadcrumb .breadcrumb-item:last-child a,
.breadcrumb .breadcrumb-item:last-child span {
  overflow: hidden;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  color: #101820;
  padding-left: var(--bs-breadcrumb-item-padding-x);
}
.text-primary {
  color: #f58220 !important;
}
.center-flex,
.page-pagination .pagination .page-item .page-link,
.page-pagination .pagination .page-item a,
.page-pagination .pagination li .page-link,
.page-pagination .pagination li a,
.page-pagination .pagination.new a {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
}
.error-section-wrapper {
  background-image: var(--d-bg-error);
  background-position: 50% 10px !important;
  height: 100vh;
  min-height: 810px;
}
@media only screen and (max-width: 480px) {
  .error-section-wrapper {
    background-image: var(--m-bg-error);
    background-position: 50% 70px !important;
  }
}
#page-wrap:has(.error-section-wrapper) + footer {
  margin-top: 0;
}
.error-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  margin: 0 auto;
  min-height: 570px;
  text-align: center;
  width: 65%;
}
@media only screen and (max-width: 1538px) {
  .error-page {
    width: 50%;
  }
}
@media only screen and (max-width: 992px) {
  .error-page {
    width: 90%;
  }
}
@media only screen and (max-width: 480px) {
  .error-page {
    text-align: left;
    width: 100%;
  }
}
.error-page h1 {
  font-weight: 300;
  margin-bottom: 1em;
}
@media only screen and (max-width: 480px) {
  .error-page h1 {
    font-size: 34px;
  }
}
.error-page h1 span,
.error-page h3 span {
  font-family: inherit;
  font-weight: inherit;
}
.error-page p {
  font-family: var(--font-secondary);
  font-weight: 300;
  margin-bottom: 0;
}
@media only screen and (max-width: 992px) {
  .error-page p {
    font-family: var(--font-primary);
  }
}
@media only screen and (max-width: 480px) {
  .error-page p {
    padding-right: 8%;
  }
}
.line-separator {
  margin: 2.5em 0 3.5em;
  width: 120px;
}
@media only screen and (max-width: 480px) {
  .line-separator {
    align-self: flex-start;
  }
  .btn.btn-compact {
    width: inherit;
  }
}
.ts-form-wrapper {
  align-items: center;
  display: flex;
  width: 100%;
}
.ts-form-wrapper .form-icon {
  height: 1.2vw;
  padding-left: 1.25vw;
  position: absolute;
  visibility: hidden;
  z-index: 15;
}
@media only screen and (max-width: 992px) {
  .ts-form-wrapper .form-icon {
    height: 24px;
    padding-left: 16px;
  }
}
.ts-form-wrapper:has(.ts-wrapper) .form-icon {
  visibility: inherit;
}
.ts-form-wrapper select {
  visibility: hidden;
}
.ts-form-wrapper .ts-wrapper {
  width: 100%;
}
.ts-form-wrapper .ts-wrapper .ts-control {
  background-color: #fff;
  border: 1px solid #f38029 !important;
  border-radius: 60px !important;
  line-height: 18px;
  padding-bottom: 0.85vw !important;
  padding-left: 3.2vw;
  padding-top: 0.85vw !important;
  z-index: 11 !important;
}
@media only screen and (max-width: 1280px) {
  .ts-form-wrapper .ts-wrapper .ts-control {
    padding-bottom: 0.75vw !important;
    padding-left: 4vw !important;
    padding-top: 0.75vw !important;
  }
}
@media only screen and (max-width: 992px) {
  .ts-form-wrapper .ts-wrapper .ts-control {
    padding-bottom: 1.5vw !important;
    padding-left: 6.5vw !important;
    padding-top: 1.5vw !important;
  }
}
@media only screen and (max-width: 480px) {
  .ts-form-wrapper .ts-wrapper .ts-control {
    padding-bottom: 12px !important;
    padding-left: 50px !important;
    padding-top: 12px !important;
  }
}
@media only screen and (max-width: 380px) {
  .ts-form-wrapper .ts-wrapper .ts-control {
    padding-left: 45px !important;
  }
}
.ts-form-wrapper .ts-wrapper .ts-control .search-bar {
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;
  display: inline-block !important;
  flex: 1 1 auto;
  line-height: inherit !important;
  margin: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  min-height: 0 !important;
  min-width: 7rem;
  padding: 0 !important;
  text-indent: 0 !important;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  user-select: auto !important;
  width: 100%;
}
.ts-form-wrapper .ts-wrapper .ts-control input {
  font-size: 1vw !important;
}
@media only screen and (max-width: 992px) {
  .ts-form-wrapper .ts-wrapper .ts-control input {
    font-size: 2vw !important;
  }
}
@media only screen and (max-width: 480px) {
  .ts-form-wrapper .ts-wrapper .ts-control input {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 380px) {
  .ts-form-wrapper .ts-wrapper .ts-control input {
    font-size: 15px !important;
  }
}
.ts-form-wrapper .ts-wrapper .ts-control * {
  align-items: center !important;
  display: flex !important;
  vertical-align: baseline;
}
@media only screen and (max-width: 480px) {
  .ts-form-wrapper .ts-wrapper .ts-control * {
    font-size: 16px;
  }
}
.ts-form-wrapper .ts-wrapper .ts-control > .item {
  font-size: 1vw;
  font-weight: 300;
}
@media only screen and (max-width: 992px) {
  .ts-form-wrapper .ts-wrapper .ts-control > .item {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 480px) {
  .ts-form-wrapper .ts-wrapper .ts-control > .item {
    font-size: 16px;
  }
}
@media only screen and (max-width: 380px) {
  .ts-form-wrapper .ts-wrapper .ts-control > .item {
    font-size: 15px;
  }
}
.ts-form-wrapper .ts-wrapper .ts-control input {
  position: relative;
}
.ts-form-wrapper .ts-wrapper .ts-control + div {
  border-color: #f38029 !important;
  border-radius: 0 0 5px 5px !important;
  font-size: 20px !important;
  margin-top: -25px !important;
  padding-bottom: 0;
  padding-top: 25px !important;
}
@media only screen and (max-width: 1538px) {
  .ts-form-wrapper .ts-wrapper .ts-control + div {
    margin-top: -20px !important;
    padding-top: 20px !important;
  }
}
@media only screen and (max-width: 992px) {
  .ts-form-wrapper .ts-wrapper .ts-control + div {
    font-size: 16px !important;
  }
}
.ts-form-wrapper .ts-wrapper .ts-control + div .search-text {
  color: #54565a;
}
.ts-form-wrapper .ts-wrapper .ts-control + div > div {
  margin-top: -15px;
  max-height: calc(15px + 12vw);
  overflow-y: scroll;
}
@media only screen and (max-width: 992px) {
  .ts-form-wrapper .ts-wrapper .ts-control + div > div {
    margin-top: -15px;
    max-height: 186px;
  }
}
.ts-form-wrapper .ts-wrapper .ts-control + div > div::-webkit-scrollbar {
  width: 1;
  width: 10px;
}
.ts-form-wrapper .ts-wrapper .ts-control + div > div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.ts-form-wrapper .ts-wrapper .ts-control + div > div::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  outline: 0;
}
.ts-form-wrapper .ts-wrapper .ts-control + div > div .option {
  background: transparent;
  border-bottom: 1px solid #f07f0a;
  font-size: 1vw !important;
  font-weight: 300;
  line-height: 1vw;
  padding: 1vw 15px 1vw 30px;
}
@media only screen and (max-width: 992px) {
  .ts-form-wrapper .ts-wrapper .ts-control + div > div .option {
    font-size: 2vw !important;
    line-height: normal;
    padding: 11px 15px 11px 30px;
  }
}
@media only screen and (max-width: 480px) {
  .ts-form-wrapper .ts-wrapper .ts-control + div > div .option {
    font-size: 16px !important;
    padding: 11px 15px 11px 25px;
  }
}
@media only screen and (max-width: 380px) {
  .ts-form-wrapper .ts-wrapper .ts-control + div > div .option {
    font-size: 15px !important;
    padding: 12px 15px 12px 25px;
  }
}
.ts-form-wrapper .ts-wrapper .ts-control + div > div .option:hover {
  background: #fffaf4;
}
.ts-form-wrapper .ts-wrapper .ts-control + div > div .option:first-child {
  padding-top: 1.75vw;
}
@media only screen and (max-width: 1538px) {
  .ts-form-wrapper .ts-wrapper .ts-control + div > div .option:first-child {
    padding-top: 2vw;
  }
}
@media only screen and (max-width: 1280px) {
  .ts-form-wrapper .ts-wrapper .ts-control + div > div .option:first-child {
    padding-top: 2.1vw;
  }
}
@media only screen and (max-width: 992px) {
  .ts-form-wrapper .ts-wrapper .ts-control + div > div .option:first-child {
    padding-top: 30px;
  }
}
.ts-form-wrapper .ts-wrapper .ts-control + div > div .option:last-child {
  border-bottom: 0;
}
.ts-form-wrapper .ts-wrapper .ts-control + div > div .option span {
  margin-bottom: 0.5rem;
}
.ts-form-wrapper.with-dropdown {
  display: -webkit-inline-box;
}
.ts-form-wrapper.with-dropdown .ts-wrapper {
  margin-bottom: 30px;
}
.ts-form-wrapper.with-dropdown .ts-wrapper .ts-control {
  cursor: pointer;
  padding-left: 1.5vw !important;
}
@media only screen and (max-width: 992px) {
  .ts-form-wrapper.with-dropdown .ts-wrapper .ts-control {
    padding-left: 20px !important;
  }
}
@media only screen and (max-width: 480px) {
  .ts-form-wrapper.with-dropdown .ts-wrapper .ts-control {
    padding-left: 25px !important;
  }
}
.ts-form-wrapper.with-dropdown .ts-wrapper .ts-control input {
  display: none !important;
}
.ts-form-wrapper.with-dropdown
  .ts-wrapper.dropdown-active
  + .form-icon.dropdown-icon {
  transform: rotate(180deg);
}
.ts-form-wrapper.with-dropdown .form-icon.dropdown-icon {
  height: auto;
  padding: 0;
  position: relative;
  right: 2.5vw;
  top: 0.8vw;
  width: 0.95vw;
}
@media only screen and (max-width: 1280px) {
  .ts-form-wrapper.with-dropdown .form-icon.dropdown-icon {
    top: 0.7vw;
  }
}
@media only screen and (max-width: 992px) {
  .ts-form-wrapper.with-dropdown .form-icon.dropdown-icon {
    right: 40px;
    top: 10px;
    width: 15px;
  }
}
.ts-form-wrapper #select-schedule {
  min-height: 90px;
}
